.top-categories h2{
    font-size: 40px;
    margin-left: 25px;
}
.description{
    color: grey;
    margin-left: 25px;
}
.category-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c1-weapons-skulls{
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 10px;
}

.weapons-container{
    border-radius: 10px;
    background: linear-gradient(to top, #67696cc4,transparent),
      url("../Assets/skull.png");
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 70px;
    padding-left: 70px;
    background-position: -10%;
    background-size: cover;
    background-repeat: no-repeat;
}
.weapons-container:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}
.weapons-container-btn{
    border: none;
    position: relative;
    bottom: 30px;
    right: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(94, 91, 91, 0.393);
    color: rgb(255, 132, 0);
}
.weapons-container h1{
    position: relative;
    margin-left: 10px;
    top: 40px;
    right: 70px;
    color: white;
    
}
.weapons-container p{
    position: relative;
    margin-left: 10px;
    right: 65px;
    top: 20px;
    color: rgb(225, 225, 225);
    
}
              

.skulls-container{
    margin-top: 30px;
    background: linear-gradient(to top, #67696cc4,transparent),
      url("../Assets/skull.png");
        background-position: -50%;
        background-size:cover;
        background-repeat: no-repeat;
    padding: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 10px;

}
.skulls-container-btn {
    border: none;
    position: relative;
    bottom: 10px;
    right: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(94, 91, 91, 0.393);
    color: rgb(255, 132, 0);
}
.skulls-container h1{
    top: 40px;
    right: 8px;

    position: relative;
    color: white;
}

.skulls-container p{
    top: 20px;
    right: 8px;
    position: relative;
    color: white;
}
.skulls-container:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}

.c2-statues{
    position: relative;
    background: linear-gradient(to top, #67696cc4,transparent),
      url("../Assets/statue.png");
      
      background-position: -30%;
    padding-top: 250px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.statues-btn {
    position: relative;
    top: -230px;
    right: 70px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(94, 91, 91, 0.393);
    color: rgb(255, 132, 0);
}
.c2-statues h1{
    top: 40px;
    right: 80px;
    position: relative;
    color: white;
}
.c2-statues p{
    top: 20px;
    right: 80px;
    position: relative;
    color: white;
}
.c2-statues:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}


.c3-keep-watches-furniture{
    position: relative;
    margin-top: 30px;
    flex-direction: column;
    border: none;
    margin-bottom: 0px;
}
.keep-container{
    background: linear-gradient(to top, #67696cc4,transparent),
      url("../Assets/skull.png");
      background-position: 40%;
    padding-top: 40px;
    padding-left: 40px;
    border-radius: 10px;
}
.keep-btn{
    position: relative;
    top: -20px;
    right: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(94, 91, 91, 0.393);
    color: rgb(255, 132, 0);
}
.keep-container h1{
    top: 10px;
    right: 20px;
    position: relative;
    color: white;
}
.keep-container p{
    top: -10px;
    right:20px;
    position: relative;
    color: white;
}
.keep-container:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}
.watch-furniture-container{
    display: flex;
    flex-direction:row;
    border: none;
    margin-left: 0;
}
.watches-container{
    position: relative;
    background: linear-gradient(to top, #67696cc4,transparent),
      url("../Assets/skull.png");
      
      background-position: 40%;
      background-size: cover;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 60px;
    border-radius: 10px;
    
}
.watch-btn {
    position: relative;
    top:10px;
    right: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(94, 91, 91, 0.393);
    color: rgb(255, 132, 0);
}
.watches-container h1{
    top: 75px;
    right: 50px;
    position: relative;
    color: white;
}
.watches-container p{
    top: 55px;
    right: 45px;
    position: relative;
    color: white;
}
.watches-container:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}
.furniture-container{
    background: linear-gradient(to top, #67696cc4,transparent),
      url("../Assets/skull.png");
      padding-top: 60px;
      padding-left: 80px;
      background-position: 40%;
    margin-top: 10px;
    border-radius: 10px;
}

.furniture-btn {
    position: relative;
    top:-35px;
    right: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(94, 91, 91, 0.393);
    color: rgb(255, 132, 0);
}
.furniture-container h1{
    top: 30px;
    right: 70px;
    position: relative;
    color: white;
}
.furniture-container p{
    top: 5px;
    right: 70px;
    position: relative;
    color: white;
}
.furniture-container:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
    cursor: pointer;
}
